@import "tailwindcss";


button:focus {box-shadow:none !important;}

.animate-spin-slow {
  display: inline-block;         
  transform-origin: center;     
  animation: spin-slow 20s linear infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse-custom {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.move-up {
  transform: translateY(-20px); 
}


@keyframes pop {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1.5); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}

.animate-pop {
  animation: pop 0.6s ease forwards;
  pointer-events: none; /* so it doesn't block clicks */
}

